@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800&display=swap");

:root {
  --background-body: #d5e1ef;
  --background-card: #ffffff;
  --color-dark-navy: #1f314f;
  --color-grey: #7d889e;
  --color-border-card: #979797;
}

body {
  background-color: var(--background-body);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400, 700;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--background-card);
  width: 320px;
  height: 497px;
  border: var(--color-border-card);
  border-radius: 20px;
  text-align: center;
  
  .card-content {
    padding: 0 25px;

    h3 {
      color: var(--color-dark-navy);
      font-weight: 700;
      font-size: 1.45em;
      text-align: center;
      margin-bottom: 0;
    }

    p {
      color: var(--color-grey);
      font-weight: 400;
    }
  }

  img {
    width: 288px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.attribution {
  font-size: 12px;
  text-align: center;
  clear: both;
  width: 100%;
  position: fixed;
  bottom: 25px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
